$background-color: lightgrey;

body {
  margin: 0;
}

body > main, header, footer {
  margin-top: 2em;
  padding: 1em;
  font-family: sans-serif;
  text-align: center;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: $background-color;
  border-radius: 1em;
}

section.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

label {
  flex-grow: 1;
}

input, button {
  border-radius: 1em;
  border-color: black;
  padding: 0.5em;
}

input {
  flex-grow: 5;
}

button {
  flex-grow: 1;
  cursor: pointer;
  
  &:hover, &:focus {
    filter: brightness(70%);
  }

  transition: filter 300ms;
}

ul 
{
  list-style-type: circle;
  li {
    margin: 0.5em;
    animation-name: accordion;
    animation-duration: 1s;
  }
}

@keyframes accordion {
  from {
    transform: scaleY(0)
  }
  to {
    transform: scaleY(1)
  }
}

nav {
  padding-left: 10%;
  padding-right: 10%;
  background-color: darken($background-color, 30%);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
  gap: 1em;
  display: flex;
  justify-content: flex-end;

  a {
    $nav-link-color: white;
    color: $nav-link-color;
    text-decoration: none;
    font-weight: 600;
    transition: transform 300ms; 
    &:hover, &:focus {
      transform: scale(1.2, 1.2);
    }

    &:visited {
      color: darken($nav-link-color, 10%);
    }
  }
}


